div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 80px;
    margin-top: 3em;
    margin-bottom: 3.6em;
    color: white;
}

div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

footer { 
    text-align: right;
}

html {
    background-color: black;
}